doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Portofolio - Arya

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        include includes/css.pug

    body.d-flex.flex-column.h-100.bg-light

        main.flex-shrink-0

            // Navigation
            include includes/navbar.pug

            // Projects Section
            section.py-5
                .container.px-5.mb-5
                    .text-center.mb-5
                        h1.display-5.fw-bolder.mb-0
                            span.text-gradient.d-inline Projects
                    .row.gx-5.justify-content-center
                        
                        .col-lg-11.col-xl-9.col-xxl-8

                            // Project Card 1
                            //.card.overflow-hidden.shadow.rounded-4.border-0.mb-5
                                .card-body.p-0
                                    .d-flex.align-items-center
                                        .p-5
                                            h2.fw-bolder Web Berita
                                            p Disini saya membuat project web berita sederhana untuk ujian akhir semester web development.
                                                a(href="https://web-berita-uas.vercel.app/" target="_blank") Lihat Proyek
                                        img.img-fluid(src='assets/kerjaan1.jpg', alt='portofolio-aldi')

                            // Project Card 2
                            .card.overflow-hidden.shadow.rounded-4.border-0.mb-5
                                .card-body.p-0
                                    .d-flex.align-items-center
                                        .p-5
                                            h2.fw-bolder Web CV
                                            p Disini saya membuat project cv sederhana untuk ujian tengah semester Tailwind CSS
                                                a(href="https://utstestnetlify.netlify.app/" target="_blank") Lihat Proyek
                                        img.img-fluid(src='assets/cowboy2.png', alt='portofolio-arya')

                            // Project Card 3
                            .card.overflow-hidden.shadow.rounded-4.border-0.mb-5
                                .card-body.p-0
                                    .d-flex.align-items-center
                                        .p-5
                                            h2.fw-bolder Web SEO
                                            p Disini saya membuat project web seo sederhana dengan framework Gatsby.
                                                a(href="https://orenskibidi.netlify.app/" target="_blank") Lihat Proyek
                                        img.img-fluid(src='assets/weboren.png', alt='portofolio-arya')

                            // Project Card 4
                            //.card.overflow-hidden.shadow.rounded-4.border-0.mb-5
                                .card-body.p-0
                                    .d-flex.align-items-center
                                        .p-5
                                            h2.fw-bolder Asesor SMK
                                            p Disini saya menjadi asesor untuk pra ukk di SMK Islamiyah Ciputat.
                                                a(href="https://www.instagram.com/p/DGJ9uQaTcXF/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA==" target="_blank") Lihat Dokumentasi
                                        img.img-fluid(src='assets/dinas1.jpg', alt='portofolio-aldi')

                            // Project Card 5
                            //.card.overflow-hidden.shadow.rounded-4.border-0.mb-5
                                .card-body.p-0
                                    .d-flex.align-items-center
                                        .p-5
                                            h2.fw-bolder Asesor SMK
                                            p Disini saya menjadi asesor untuk pra ukk di SMK Darussa,adah.
                                                a(href="https://www.instagram.com/p/DGJ-soqTfEI/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA==" target="_blank") Lihat Dokumentasi
                                        img.img-fluid(src='assets/dinas2.jpg', alt='portofolio-aldi')

                            // Project Card 6
                            //.card.overflow-hidden.shadow.rounded-4.border-0
                                .card-body.p-0
                                    .d-flex.align-items-center
                                        .p-5
                                            h2.fw-bolder Asesor SMK
                                            p Disini saya menjadi asesor untuk pra ukk di SMK Dewi Sartika.
                                                a(href="https://www.instagram.com/p/DGJ-QeezMiH/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA==" target="_blank") Lihat Dokumentasi
                                        img.img-fluid(src='assets/dinas3.jpg', alt='portofolio-aldi')

            // Call to action section
            section.py-5.bg-gradient-primary-to-secondary.text-white
                .container.px-5.my-5
                    .text-center
                        h2.display-4.fw-bolder.mb-4 Info lebih lanjut
                        a.btn.btn-outline-light.btn-lg.px-5.py-3.fs-6.fw-bolder(href='contact.html') Contact me

        // Footer
        include includes/footer.pug

        include includes/scripts.pug
