doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Portofolio - Aldiansyah

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        include includes/css.pug

    body.d-flex.flex-column.h-100.bg-light

        main.flex-shrink-0

            // Navigation
            include includes/navbar.pug

            // Page Content
            .container.px-5.my-5
                .text-center.mb-5
                    h1.display-5.fw-bolder.mb-0
                        span.text-gradient.d-inline Resume
                .row.gx-5.justify-content-center

                    .col-lg-11.col-xl-9.col-xxl-8

                        // Experience Section
                        section
                            .d-flex.align-items-center.justify-content-between.mb-4
                                h2.text-primary.fw-bolder.mb-0 Pengalaman
                                // Download resume button
                                // Note: Set the link href target to a PDF file within your project
                                a.btn.btn-primary.px-4.py-3(href='#!')
                                    .d-inline-block.bi.bi-download.me-2
                                    | Download Resume

                            // Experience Card 1
                            .card.shadow.border-0.rounded-4.mb-5
                                .card-body.p-5
                                    .row.align-items-center.gx-5
                                        .col.text-center.text-lg-start.mb-4.mb-lg-0
                                            .bg-light.p-4.rounded-4
                                                .text-primary.fw-bolder.mb-2 2022 - PT.SARANA KENTJANA INDO
                                                .small.fw-bolder PKL
                                                .small.text-muted Perakitan Assy
                                                .small.text-muted Memasang Label
                                                .small.text-muted Memoles Perakitan
                                        .col-lg-8
                                            div Disini saya bekerja sebagai perakit assy, saya bertugas untuk merakit produk dari awal hingga akhir, mulai dari memasang label hingga memoles perakitan. Saya juga bertanggung jawab untuk memastikan bahwa semua produk yang dirakit memenuhi standar kualitas yang ditetapkan oleh perusahaan.

                            // Experience Card 2
                            .card.shadow.border-0.rounded-4.mb-5
                                .card-body.p-5
                                    .row.align-items-center.gx-5
                                        .col.text-center.text-lg-start.mb-4.mb-lg-0
                                            .bg-light.p-4.rounded-4
                                                .text-primary.fw-bolder.mb-2 2024 - PT.Aretanet Indonesia
                                                .small.fw-bolder Asesor SMK
                                                .small.text-muted Asesor Penilai UKK
                                                .small.text-muted Asesor Pengajar UKK
                                                .small.text-muted Asisten Guest Teacher
                                        .col-lg-8
                                            div Disini saya bekerja sebagai asesor penilai UKK, saya bertugas untuk menilai dan menguji siswa dalam ujian kompetensi keahlian. Saya juga bertanggung jawab untuk memberikan bimbingan dan pelatihan kepada siswa agar mereka siap menghadapi ujian kompetensi keahlian.

                        // Education Section
                        section
                            h2.text-secondary.fw-bolder.mb-4 Pendidikan
                            
                            // Education Card 1
                            .card.shadow.border-0.rounded-4.mb-5
                                .card-body.p-5
                                     .row.align-items-center.gx-5
                                        .col.text-center.text-lg-start.mb-4.mb-lg-0
                                            .bg-light.p-4.rounded-4
                                                .text-secondary.fw-bolder.mb-2 2020 - 2023
                                                .mb-2
                                                    .small.fw-bolder SMK YUPPENTEK 2
                                                    .small.text-muted Bitung, Tangerang
                                                .fst-italic
                                                    .small.fw-bolder Jurusan
                                                    .small.text-muted Teknik Komputer dan Jaringan
                                        .col-lg-8
                                            div Saya adalah siswa di SMK YUPPENTEK 2, saya belajar tentang jaringan komputer dan pemrograman. Saya juga berkeahlian tinggi dalam perangkat komputer dan jaringan. Saya memiliki pengalaman dalam mengelola jaringan komputer dalam Mikrotik dan konfogurasi jaringan di dalam Cisco.

                            // Education Card 2
                            .card.shadow.border-0.rounded-4.mb-5
                                .card-body.p-5
                                    .row.align-items-center.gx-5
                                        .col.text-center.text-lg-start.mb-4.mb-lg-0
                                            .bg-light.p-4.rounded-4
                                                .text-secondary.fw-bolder.mb-2 2023 - Sekarang
                                                .mb-2
                                                    .small.fw-bolder Areta Informatics College
                                                    .small.text-muted Bonang, Tangerang
                                                .fst-italic
                                                    .small.fw-bolder Jurusan
                                                    .small.text-muted Teknik Informatika
                                        .col-lg-8
                                            div Saya adalah mahasiswa di Areta Informatics College, saya belajar tentang teknologi informasi dan pemrograman. Saya juga berkeahlian tinggi dalam perangkat komputer dan jaringan. Saya memiliki pengalaman di web development, code pemrograman dan Java script.

                        // Divider
                        .pb-5

                        // Skills Section
                        section
                            // Skillset Card
                            .card.shadow.border-0.rounded-4.mb-5
                                .card-body.p-5
                                    // Professional skills list
                                    .mb-5
                                        .d-flex.align-items-center.mb-4
                                            .feature.bg-primary.bg-gradient-primary-to-secondary.text-white.rounded-3.me-3
                                                i.bi.bi-tools
                                            h3.fw-bolder.mb-0
                                                span.text-gradient.d-inline Soft Skills
                                        .row.row-cols-1.row-cols-md-3.mb-4
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Cisco
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Mikrotik
                                            .col
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Web Development
                                        .row.row-cols-1.row-cols-md-3
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Network Security
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Desain Graphic
                                            .col
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 UI-UX Design
                                    // Languages list
                                    .mb-0
                                        .d-flex.align-items-center.mb-4
                                            .feature.bg-primary.bg-gradient-primary-to-secondary.text-white.rounded-3.me-3
                                                i.bi.bi-code-slash
                                            h3.fw-bolder.mb-0
                                                span.text-gradient.d-inline Languages
                                        .row.row-cols-1.row-cols-md-3.mb-4
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 HTML
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 CSS
                                            .col
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 JavaScript
                                        .row.row-cols-1.row-cols-md-3
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Python
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Tailwind CSS
                                            .col
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Node.js

        // Footer
        include includes/footer.pug

        include includes/scripts.pug